.fixed-container {
    background-color: cadetblue;
    max-width: 800px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    background-color: chocolate;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.flex-container__item {
    width: 50px;
    height: 50px;
    background-color: darkolivegreen;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 20px;
}